.social-footer{
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-footer .social-footer-icons li:last-of-type {
  margin-right: 0;
}

.social-footer .social-footer-icons .fa {
  font-size: 1.3rem;
  color: black;
}
.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.social-footer .social-footer-icons .fa:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}


.privacy-policy{
    text-align: center;
    padding: 10px;
}